<!-- <div class="ui three column grid">
  <div class="column" *ngFor="let user of users">
    <div class="ui link fluid card" (click)="onSelect(user)" [class.selected]="user === selectedUser">
      
      <div class="content">
        <a class="header">{{user.displayname}}</a>
        <div class="meta">
          Member since {{user.created | date}}
        </div>
      </div>
      <div class="content extra">
        User ID: {{user.id}}
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let user of users">
      <div class="panel panel-default" (click)="onSelect(user)" [class.panel-primary]="user === selectedUser">
        <div class="panel-body">
          <h4>{{user.displayname}}</h4>
          <small>Member since {{user.created | date}}</small>
        </div>
        <div class="panel-footer">
          <p>User ID: {{user.id}}</p>
        </div>
      </div>
    </div>
  </div>
</div>