<div class="showcase">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-4 col-md-offset-6">
                <div class="panel panel-default">
                    <div id="action" class="panel-body">
                        <div class="text-center">
                            <p class="lead text-default">Planen Sie für die Zukunft!</p>
                            <p class="lead text-primary">Die besten Angebote finden Sie nur bei uns!</p>
                            <div class="btn btn-primary btn-lg">Hier Vergleichen!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>          
<div class="offers">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h2>Ihre Vorteile</h2>
                <p>Et magnis dis parturient montes nascetur ridiculus mus mauris.</p>
                <ul>
                    <li>Nec dui nunc mattis enim ut. </li>
                    <li>Sed turpis tincidunt id aliquet. </li>
                    <li>Lacus luctus accumsan tortor posuere. </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h2>Weitere Angebote</h2>
                <p>
                    Et magnis dis parturient montes nascetur ridiculus mus mauris. Nullam eget felis eget nunc lobortis mattis aliquam faucibus
                    purus. Euismod elementum nisi quis eleifend quam adipiscing vitae proin. Nec dui nunc mattis enim ut.
                    Sed turpis tincidunt id aliquet. Lacus luctus accumsan tortor posuere.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h2>Bewertungen</h2>
                <p>
                    Sollicitudin tempor id eu nisl nunc mi ipsum. Nec tincidunt praesent semper feugiat nibh. Et magnis dis parturient montes
                    nascetur ridiculus mus mauris. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Euismod
                    elementum nisi quis eleifend quam adipiscing vitae proin.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="more">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Unser Service</h1>
                <p class="lead">
                    Et magnis dis parturient montes nascetur ridiculus mus mauris. Nullam eget felis eget nunc lobortis mattis aliquam faucibus
                    purus. Euismod elementum nisi quis eleifend quam adipiscing vitae proin.
                </p>
            </div>
        </div>
    </div>
</div>